.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo fosco com 70% de opacidade */
}

.modal-content {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.galeria img {
    width: 500px; /* Define a largura das imagens para 500px */
    height: auto; /* Mantém a proporção original da imagem */
}
